.service-header {
  background: url("/assets/images/header-service.png") no-repeat center;
  background-size: 400px;
  line-height: initial;
  padding: 55px 0 40px;
  margin: 50px;
  font-size: 60px; }

.service-main-tab {
  float: left;
  display: inline-block;
  width: 50%;
  border-bottom: 1px solid #2B2C34;
  padding-bottom: 15px;
  text-align: center;
  margin-bottom: 35px;
  color: #ABABAD;
  font-size: 30px;
  font-weight: 300; }

.service-sub-tab:first-of-type {
  margin-right: 30px; }

.service-main-tab-active {
  border-bottom: 2px solid #2B2C34;
  padding-bottom: 14px;
  color: #2B2C34;
  font-weight: 500; }

.service-sub-tabs {
  border-bottom: 1px solid #d5d5d6;
  margin-bottom: 75px;
  font-size: 26px; }

#korean-tab {
  margin-left: 20px; }

.service-sub-tab {
  display: inline-block;
  padding-bottom: 15px;
  text-align: center;
  color: #ABABAD;
  font-weight: 300; }

.service-sub-tab-active {
  border-bottom: 2px solid #715EFF;
  padding-bottom: 14px;
  color: #715EFF;
  font-weight: 500; }

.service-item {
  text-align: center;
  margin: 0 auto 80px; }

.service-item-ticket {
  width: 90%; }

.service-item-title {
  margin-bottom: 10px;
  font-size: 40px; }

.service-item-description {
  margin-bottom: 40px; }

.service-item-description-1 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300; }

.service-item-description-2 {
  font-weight: 500; }

.service-item-description-3 {
  color: #ABABAD;
  font-size: 20px;
  font-weight: 300; }

.service-item-controls {
  float: left; }

.service-item-control {
  margin-bottom: 40px; }

.service-item-control-1-label,
.service-item-control-2-label,
.service-item-control-3-label {
  color: #ABABAD;
  width: 115px;
  display: inline-block;
  height: 28px;
  line-height: 37px;
  float: left; }

.service-item-control-3-label {
  line-height: 53px; }

.service-item-control-1-input {
  border-bottom: 1px solid #2B2C34;
  padding-bottom: 5px; }

.btn-order,
.btn-cart {
  padding: 21px 35px;
  display: inline-block;
  font-size: 20px;
  position: relative; }

.btn-more {
  display: block;
  margin-top: 30px;
  color: #2B2C34;
  font-size: 24px; }

.arrow {
  padding-top: 7px;
  margin-bottom: -2px; }

.arrow-down {
  margin-left: 20px;
  padding-bottom: 4px; }

.service-item-control-2-input {
  font-weight: 300;
  margin: 0 15px; }

.service-item-control-3-input {
  line-height: 53px;
  vertical-align: middle;
  display: inline-block;
  height: 53px; }

.service-item-control-price {
  font-size: 45px;
  margin-right: 20px; }

.mark-mileage {
  text-align: center;
  display: inline-block;
  margin-right: 5px;
  font-size: 13px;
  line-height: 23px;
  background-color: #715EFF;
  color: #FFF;
  height: 22px;
  width: 22px; }

.service-item-control-mileage {
  font-size: 15px;
  color: #ABABAD;
  float: right; }

.service-item-control-1-input-select {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: 300; }

.sticky-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center; }
  .sticky-bottom .btn-cart, .sticky-bottom .btn-order {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #2B2C34;
    float: left;
    padding: 30px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    line-height: 1; }
  .sticky-bottom .btn-cart {
    background-color: #FFF;
    color: #2B2C34; }
  .sticky-bottom .btn-order {
    background-color: #2B2C34;
    color: #FFF;
    font-weight: 400; }

.arrow-right {
  height: 26px;
  margin-left: 15px;
  margin-bottom: -3px; }

.btn-sticky {
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 70px;
  margin-bottom: -35px;
  border-radius: 100px; }

.btn-sticky-img {
  margin-top: 15px; }

.sticky-order-options {
  position: relative;
  background-color: #FFF; }

.sticky-order-options {
  border-top: 2px solid #2B2C34;
  font-size: 26px; }

.sticky-order-options-title {
  margin: 50px 30px;
  float: left; }

.sticky-order-options-list {
  margin: 50px 30px 10px;
  float: right; }

.sticky-order-options-list-title {
  width: 180px; }

.sticky-order-options-img {
  float: right;
  width: 15px;
  margin: 15px; }

.sticky-order-options-list-item {
  font-weight: 300;
  width: 400px;
  text-align: left;
  margin-bottom: 30px; }

.sticky-cart-options {
  font-size: 26px;
  background-color: #F6F6F6;
  padding: 30px; }

.sticky-cart-total {
  font-size: 26px;
  color: #FFF;
  background-color: #715EFF;
  padding: 30px; }

.sticky-cart-options-title-wrapper {
  float: left;
  text-align: left; }

.sticky-cart-options-count-box {
  margin-left: 70px;
  font-weight: 300;
  width: 200px;
  float: left;
  margin-top: 20px; }

.sticky-cart-options-price {
  float: right; }

.sticky-cart-total-title {
  float: left;
  margin-top: 5px; }

.sticky-cart-total-price {
  font-size: 40px;
  float: right; }

.sticky-cart-options-count-label {
  color: #715EFF;
  font-size: 22px;
  font-weight: 300; }

.sticky-cart-options-price {
  color: #715EFF;
  margin-top: 20px;
  font-weight: 400; }

.arrow-left {
  margin-top: 3px;
  float: left; }

.arrow-right {
  margin-top: 3px;
  float: right; }

.sticky-expand {
  background-color: #FFF; }

/*# sourceMappingURL=service.css.map */
