.main {
  padding: 0 30px; }

.user-service-header {
  background: url("/assets/images/header-user-edit.png") no-repeat center;
  height: 186px;
  font-size: 70px;
  margin-bottom: 40px; }

.profile-box {
  background-color: #ffbc6d;
  color: #FFF;
  font-weight: 400;
  margin-bottom: 50px; }

.profile-box-1 {
  padding: 30px; }

.profile-box-2 {
  border-top: 2px solid #ffd9b0;
  background-color: #ffb261;
  padding: 30px 50px; }

.mark-mileage {
  display: inline-block;
  width: 28px;
  height: 28px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #FFBC66;
  background-color: #FFF;
  vertical-align: top;
  margin-top: 6px; }

.mileage-label {
  font-size: 26px;
  display: inline-block; }

.mileage-price {
  float: right;
  margin-right: 10px;
  font-size: 30px;
  margin-top: -5px; }

.service-box {
  background-color: #715EFF;
  color: #FFF; }

.profile-image {
  width: 100px;
  height: 100px;
  border: 1px solid #EDEDED;
  border-radius: 100px;
  float: left; }

.profile-info {
  float: left;
  font-size: 30px;
  margin: 15px 0 0 30px; }

.profile-info-email {
  font-size: 20px;
  font-weight: 300; }

.icon-settings {
  margin-top: 40px;
  float: right; }

.service-box-background-number {
  position: absolute;
  color: black;
  font-size: 230px;
  line-height: 200px;
  opacity: 0.1;
  display: inline-block;
  width: 100%;
  margin-left: -30px;
  margin-top: -30px; }

.service-box-header {
  text-align: center;
  font-weight: 400;
  padding: 25px;
  border-bottom: 1px solid #EDEDED; }

.service-box-container {
  text-align: center;
  padding-bottom: 50px; }

.service-box-icon {
  margin: 50px 0 30px; }

.service-box-title {
  font-size: 24px;
  font-weight: 400;
  display: inline-block;
  width: 100%; }

.service-box-number {
  font-size: 100px;
  font-weight: 100; }

.service-box-badge {
  position: absolute;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  margin-left: 90px;
  background-color: #FFBC66;
  color: #715EFF;
  padding: 5px 20px; }

.user-list-header {
  margin-top: 80px;
  font-size: 30px;
  text-align: center; }

.user-list {
  margin-top: 20px;
  border-top: 2px solid #2B2C34;
  font-weight: 400; }

.user-list-item {
  border-bottom: 2px solid #EDEDED;
  padding: 20px 10px;
  font-size: 15px; }

.user-list-item-2-right {
  float: right;
  font-size: 26px;
  color: #ABABAD;
  margin-top: 6px;
  font-weight: 300; }

.user-list-left {
  font-size: 26px;
  float: left; }
  .user-list-left .user-list-item-2 {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    color: #ABABAD; }

.user-list-item-3,
.user-list-item-3-inactive {
  float: right;
  font-size: 26px;
  margin-top: 18px;
  color: #715EFF; }

.user-list-item-3-inactive {
  color: #ABABAD; }

.btn-detail {
  color: #2B2C34;
  display: block;
  text-align: center;
  background-color: #e9e9ea;
  padding: 20px; }

.arrow-right {
  width: 15px;
  margin-left: 20px; }

.owl-theme .owl-controls {
  margin-top: -50px;
  text-align: center; }

.owl-theme .owl-buttons {
  display: none; }

.owl-theme .owl-pagination {
  padding: 30px 0; }

.owl-theme .owl-controls .owl-page span,
.owl-theme .owl-controls.clickable .owl-page span {
  background-color: #8b7df9;
  opacity: 1; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: white;
  opacity: 1; }

.user-direct-link-box-0 {
  padding: 30px;
  background-color: #f6f6f6;
  margin-bottom: 10px;
  display: block;
  color: #2B2C34; }

.user-direct-link-box {
  padding: 35px;
  background-color: #f6f6f6;
  margin-bottom: 10px;
  display: block;
  color: #2B2C34; }

.user-direct-link-box-0-item-1,
.user-direct-link-box-0-item-2 {
  display: inline-block;
  font-size: 26px;
  width: 60%; }

.user-direct-link-box-0-item-2 {
  font-style: 20px;
  color: #ABABAD;
  font-weight: 300; }

.user-direct-link-box-0-item-3 {
  float: right;
  margin-top: 10px; }

.footer {
  margin-top: 80px; }

.link-box-icon {
  margin-right: 20px;
  padding-top: 5px;
  float: left; }

/*# sourceMappingURL=user.css.map */
