@charset "UTF-8";
@import 'variables';

.main {
  max-width: $width-desktop;
}

.cart-header {
  background: url("/assets/images/header-cart.png") no-repeat center;
  margin-bottom: 5px;
}

.cart-header-badge {
  font-size: 20px;
  margin-top: 58px;
  line-height: 40px;
  vertical-align: middle;
  position: absolute;
  width: 40px;
  border-radius: 20px;
  background-color: $instarter-yellow;
  color: $instarter-white;
}

.process {
  text-align: center;
  margin-bottom: 35px;
}

.process-cart {
  color: $instarter-purple;
  font-size: 25px;

  &::after {
    content: '';
    display: inline-block;
    width: 11px;
    height: 17px;
    background: url("/assets/images/arrow-right-purple.png") no-repeat;
    margin: 1px 30px;
  }
}

.process-order {
  color: $instarter-font-grey;
  font-size: 24px;

  &::after {
    content: '';
    display: inline-block;
    width: 11px;
    height: 17px;
    background: url("/assets/images/arrow-right-grey.png") no-repeat;
    margin: 1px 30px;
  }
}

.process-complete {
  color: $instarter-font-grey;
  font-size: 24px;
}

.cart-item, .cart-item-all {
  cursor: pointer;
  background: url("/assets/images/checkbox-no.png") no-repeat 0 4px;
  height: 22px;
  margin: 0 auto;
  width: 27px;
}

.cart-item-checked {
  background: url("/assets/images/checkbox-yes.png") no-repeat 0 0;
  height: 22px;
  margin: 0 auto;
  width: 27px;
}

.cart-item-title-text {
  text-align: left;
  margin-top: 50px;
}

.cart-item-title-text-header {
  font-size: 18px;
  margin-bottom: 15px;
}

.cart-item-title-text-description {
  font-size: 13px;
  color: $instarter-purple;
}

.mark-mileage {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
  line-height: 22px;
  background-color: $instarter-purple;
  color: $instarter-white;
  height: 22px;
  width: 22px;
}

.final-mark-mileage {
  float: right;
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  background-color: $instarter-purple;
  color: $instarter-white;
  height: 22px;
  width: 22px;
}

.data-mileage {
  display: inline-block;
  vertical-align: middle;
  line-height: 22px;
}

.cart-item-ammount {
  display: inline-block;
  line-height: 19px;
  vertical-align: top;
  margin: 0 20px;
}

.delete-row {
  cursor: pointer;
}

.totla-price-promotion {
  margin: 35px 40px 30px;
}

.total-price {
  margin-bottom: 15px;
}

.promotion {
  color: $instarter-purple;
}

.promotion-name {
  float: left;
  font-size: 13px;
  line-height: 23px;
  vertical-align: middle;
}

.total-price-label, .promotion-label {
  font-size: 15px;
  float: left;
  margin-right: 5px;
}

.total-price-value {
  float: right;
  font-size: 18px;
}

.promotion-value {
  float:right;
}

.final {
  padding: 40px;
  margin-bottom: 60px;
  background-color: $instarter-background-grey;
}

.final-price {
  margin-bottom: 20px;
}

.final-price-value {
  float: right;
}

.final-mileage-value {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  color: $instarter-font-grey;
  float: right;
}

.btn-continue {
  box-sizing: border-box;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  background-color: $instarter-white;
  border: 2px solid $instarter-black;
  color: $instarter-black;
  font-size: 20px;
  height: 75px;
  width: 205;
  float: left;
}

.btn-seleted-order {
  box-sizing: border-box;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  background-color: $instarter-white;
  border: 2px solid $instarter-black;
  color: $instarter-black;
  height: 75px;
  width: 185px;
  margin-right: 5px;
  font-size: 20px;
  float: left;
}

.btn-all-order {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  background-color: $instarter-black;
  border: none;
  color: $instarter-white;
  font-size: 20px;
  height: 75px;
  width: 191px;
}
