.main {
  width: 1200px; }

.cart-header {
  background: url("../../images/header-cart.png") no-repeat center;
  margin-bottom: 5px; }

.cart-header-badge {
  font-size: 20px;
  display: inline-block;
  margin: 0 0 50px -12px;
  line-height: 40px;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #FFBC66;
  color: #FFF; }

.process {
  text-align: center;
  margin-bottom: 35px; }

.process-cart {
  color: #715EFF;
  font-size: 25px; }
  .process-cart::after {
    content: '';
    display: inline-block;
    width: 11px;
    height: 17px;
    background: url("../../images/arrow-right-purple.png") no-repeat;
    margin: 1px 30px; }

.process-order {
  color: #ABABAD;
  font-size: 24px;
  font-weight: 200; }
  .process-order::after {
    content: '';
    display: inline-block;
    width: 11px;
    height: 17px;
    background: url("../../images/arrow-right-grey.png") no-repeat;
    margin: 1px 30px; }

.process-complete {
  color: #ABABAD;
  font-size: 24px;
  font-weight: 200; }

.cart-item, .cart-item-all {
  cursor: pointer;
  background: url("../../images/checkbox-no.png") no-repeat 0 4px;
  height: 22px;
  margin: 0 auto;
  width: 27px; }

.cart-item-checked {
  background: url("../../images/checkbox-yes.png") no-repeat 0 0;
  height: 22px;
  margin: 0 auto;
  width: 27px; }

.cart-item-title-text {
  text-align: left;
  float: left;
  margin: 50px 0 0 20px; }

.cart-item-title-text-header {
  font-size: 18px;
  margin-bottom: 15px; }

.cart-item-title-text-description {
  font-size: 13px;
  font-weight: 200;
  color: #715EFF; }

.cart-item-option {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid #2B2C34; }
  .cart-item-option::after {
    content: '';
    display: inline-block;
    width: 10px;
    margin: 0 0 2px 10px;
    height: 7px;
    background: url("../../images/arrow-down-black.png") no-repeat; }

.cart-item-price {
  font-weight: 200; }

.mark-mileage {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
  line-height: 22px;
  background-color: #715EFF;
  color: #FFF;
  height: 22px;
  width: 22px; }

.final-mark-mileage {
  float: right;
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  background-color: #715EFF;
  color: #FFF;
  height: 22px;
  width: 22px; }

.data-mileage {
  display: inline-block;
  vertical-align: middle;
  line-height: 22px;
  font-weight: 200; }

.cart-item-ammount {
  display: inline-block;
  line-height: 19px;
  vertical-align: top;
  font-weight: 200;
  margin: 0 20px; }

.delete-row {
  cursor: pointer; }

.totla-price-promotion {
  margin: 35px 40px 30px; }

.total-price {
  margin-bottom: 15px; }

.promotion {
  color: #715EFF; }

.promotion-name {
  float: left;
  font-size: 13px;
  line-height: 23px;
  vertical-align: middle;
  font-weight: 200; }

.total-price-label, .promotion-label {
  font-size: 15px;
  float: left;
  margin-right: 5px; }

.total-price-value {
  float: right;
  font-size: 18px; }

.promotion-value {
  float: right; }

.final {
  padding: 40px;
  margin-bottom: 60px;
  background-color: #F6F6F6; }

.final-price {
  margin-bottom: 20px; }

.final-price-value {
  float: right; }

.final-mileage-value {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  color: #ABABAD;
  float: right; }

.btn-continue {
  box-sizing: border-box;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  background-color: #FFF;
  border: 2px solid #2B2C34;
  color: #2B2C34;
  font-size: 20px;
  height: 75px;
  width: 205;
  float: left; }

.btn-seleted-order {
  box-sizing: border-box;
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  background-color: #FFF;
  border: 2px solid #2B2C34;
  color: #2B2C34;
  height: 75px;
  width: 185px;
  margin-right: 5px;
  font-size: 20px;
  float: left; }

.btn-all-order {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  background-color: #2B2C34;
  border: none;
  color: #FFF;
  font-size: 20px;
  height: 75px;
  width: 191px; }

/*# sourceMappingURL=cart.css.map */
