.main {
  width: 1200px; }

.order-header {
  background: url("../../images/header-order.png") no-repeat center;
  margin-bottom: 5px; }

.process {
  text-align: center;
  margin-bottom: 35px; }

.process-cart,
.process-order,
.process-complete {
  color: #715EFF;
  font-size: 25px; }

.process-cart::after,
.process-order::after {
  content: '';
  display: inline-block;
  width: 11px;
  height: 17px;
  background: url("../../images/arrow-right-purple.png") no-repeat;
  margin: 1px 30px; }

.complete-message {
  font-size: 34px;
  text-align: center; }

.complete-submessage {
  text-align: center;
  font-weight: 300; }

.link-mypage {
  text-decoration: underline; }

.order-subheader {
  margin-top: 60px;
  font-size: 25px; }

.order-bank {
  border-top: 2px solid #2B2C34;
  margin-bottom: 60px; }

.order-bank-label {
  font-size: 18px;
  display: inline-block;
  width: 180px;
  padding: 20px 0 20px 30px;
  background-color: #f1efff;
  border-bottom: 1px solid #d5d5d6;
  float: left; }

.order-bank-data {
  font-size: 18px;
  display: inline-block;
  border-bottom: 1px solid #d5d5d6;
  padding: 20px 0 20px 30px;
  float: left;
  width: 960px; }

.order-title {
  padding-left: 30px; }

.order-title-text {
  text-align: left;
  margin-top: 25px; }

.order-title-text-header {
  font-size: 18px;
  font-weight: 500; }

.order-title-text-description {
  font-size: 15px; }

.order-title-text-instagram {
  font-size: 15px;
  color: #715EFF; }

.order-total-price {
  font-size: 18px;
  font-weight: 500; }

.order-description {
  border-top: 2px solid #2B2C34;
  margin-bottom: 80px; }

.order-description-title {
  display: inline-block;
  border-bottom: 1px solid #EDEDED;
  padding: 20px 0;
  width: 400px;
  text-align: center;
  float: left;
  font-size: 18px; }

.order-description-body-wrapper {
  border-bottom: 1px solid #EDEDED;
  height: 165px;
  padding-bottom: 10px; }

.order-description-body {
  font-size: 18px;
  float: left;
  width: 400px; }

.order-description-body-discount {
  float: left;
  width: 400px;
  text-align: center;
  line-height: 165px; }

.order-description-body-price {
  float: left;
  width: 400px;
  text-align: center;
  font-size: 25px;
  line-height: 165px;
  color: #715EFF; }

.order-description-body-items {
  padding-top: 30px;
  width: 310px;
  display: inline-block; }

.order-description-body-item {
  margin-bottom: 20px; }

.order-description-body-item-1 {
  float: left;
  padding-left: 35px; }

.order-description-body-item-2 {
  float: right;
  color: #715EFF; }

.order-description-body-item-3 {
  font-weight: 400;
  margin-left: 12px;
  font-size: 15px;
  padding-left: 35px; }

.order-description-body-mark {
  padding-top: 62px;
  float: right; }

.btn-all-order {
  display: inline-block;
  text-align: center;
  line-height: 75px;
  background-color: #2B2C34;
  border: none;
  color: #FFF;
  font-size: 20px;
  height: 75px;
  width: 190px; }

.btn-group {
  text-align: center; }

.order-description-body-discount {
  font-size: 18px; }

.order-description-body-discount-prcie {
  margin-left: 40px;
  color: #715EFF; }

.mark-mileage {
  display: inline-block;
  font-size: 12px;
  background-color: #715EFF;
  line-height: 22px;
  color: #FFF;
  height: 22px;
  width: 22px; }

.icon-dot {
  margin: 0 5px 7px 0; }

.data-mileage {
  line-height: 22px;
  vertical-align: top; }

/*# sourceMappingURL=complete.css.map */
