.modal-body {
  margin: 30px 0 50px; }

.modal-text {
  margin: 40px 0 0 40px;
  padding-bottom: 30px; }

.modal-text-intput-wrapper {
  display: inline-block;
  border-bottom: 4px solid #2B2C34;
  width: 390px;
  padding-bottom: 10px;
  margin-right: 20px;
  float: left;
  margin-bottom: 50px; }

.modal-text-intput {
  font-size: 18px;
  float: left;
  width: 320px; }

.icon-search {
  float: right; }

.icon-checkbox-wrapper {
  display: inline-block;
  float: left;
  font-size: 15px; }

.icon-checkbox {
  background-image: url("/assets/images/checkbox-no.png");
  display: inline-block;
  height: 18px;
  margin: 2px 5px 0 0;
  width: 18px; }

.icon-checkbox-checked {
  background-image: url("/assets/images/checkbox-yes.png");
  display: inline-block;
  height: 22px;
  margin: -3px 0 0 0;
  width: 23px; }

.icon-checkbox-text {
  font-size: 15px;
  font-weight: 300;
  display: inline-block;
  vertical-align: top; }

.btn-submit {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: #2B2C34;
  border: 2px solid #2B2C34;
  color: #FFF;
  font-size: 20px;
  height: 50px;
  width: 120px; }

.btn-cancel {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: #FFF;
  border: 2px solid #2B2C34;
  color: #2B2C34;
  font-size: 20px;
  height: 50px;
  width: 120px; }

.modal-search-result-description {
  font-weight: 300; }

.modal-search-result-box {
  background-color: #F6F6F6;
  padding: 20px;
  margin-right: 35px;
  border: 4px solid #F6F6F6;
  margin-bottom: 10px; }

.modal-search-result-box-selected {
  background-color: #F6F6F6;
  padding: 20px;
  margin-right: 35px;
  border: 4px solid #F6F6F6;
  margin-bottom: 10px; }

.modal-search-result-box:hover {
  border-color: #715EFF; }

.modal-search-result-box-active {
  border-color: #B8AEFF;
  background-color: #B8AEFF; }
  .modal-search-result-box-active .modal-search-result-trash {
    display: inline-block;
    float: right;
    margin: 15px 5px 0 0; }

.modal-search-result-profile {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #EDEDED;
  float: left;
  margin-right: 10px; }

.modal-search-result-account {
  margin-top: 10px;
  font-weight: 500;
  font-size: 25px;
  display: inline-block; }

.modal-search-result-username {
  font-size: 18px;
  font-weight: 400;
  display: inline-block; }

.modal-search-result-infos {
  display: inline-block;
  float: right;
  margin: 15px 5px 0 0; }

.modal-search-result-trash {
  display: none; }

.modal-search-result-info {
  display: inline-block;
  margin-right: 15px;
  text-align: center; }

.modal-search-result-info-label {
  font-weight: 300;
  margin-bottom: 5px; }

.modal-search-result-info-data {
  color: #715EFF; }

#order-modal-3 {
  max-width: 850px; }

.modal-body-header {
  background-color: #F6F6F6;
  margin-bottom: 5px;
  padding: 15px; }

.modal-body-3 {
  margin: 0 0 50px 0; }

.modal-images {
  margin-left: 15px; }

.modal-image {
  width: 100%;
  height: 100%; }

.modal-image-block {
  width: 200px;
  height: 200px;
  float: left;
  background-color: #F6F6F6;
  margin: 0 5px 5px 0; }

.modal-image-block-selected {
  border: 2px solid #715EFF;
  box-sizing: border-box; }

.select-box {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 25px;
  border: 2px solid #FFF;
  float: right;
  margin: -190px 0 0 145px;
  position: absolute; }

.select-box-selected {
  background-color: #715EFF;
  border-color: #715EFF; }

.select-box-selected span {
  background: url(/assets/images/icon-checked-white.png) no-repeat;
  margin: 14px 12px;
  display: block;
  width: 17px;
  height: 12px;
  margin: 14px 12px; }

.selected-count {
  font-size: 36px;
  color: #715EFF; }

.btn-more {
  text-align: center;
  color: #ABABAD;
  font-size: 18px;
  margin: 25px 0 20px; }

.modal-footer {
  background-color: #F6F6F6; }

#order-modal-4 {
  max-width: 850px;
  padding-bottom: 50px; }

.order-modal-4-description {
  padding-top: 40px;
  text-align: center; }

.order-modal-4-description-text {
  font-size: 14px;
  font-weight: 300; }

.order-modal-4-btn-group {
  margin: 10px 0 30px;
  background-color: #e3dfff;
  display: inline-block;
  border-radius: 10px; }

.order-modal-4-btn {
  width: 130px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #e3dfff;
  color: #B8AEFF;
  float: left;
  font-size: 16px;
  border-radius: 10px; }

.order-modal-4-btn-active {
  background-color: #715EFF;
  color: #FFF; }

.modal-search-result-box-5 {
  background-color: #F6F6F6;
  margin-right: 35px;
  margin-bottom: 10px; }

.modal-search-result-box-5-container {
  padding: 20px; }

.order-modals-5-btn {
  display: none; }

.modal-search-result-box-5-active {
  background-color: #f1efff; }
  .modal-search-result-box-5-active .order-modals-5-btn {
    display: block;
    background-color: #B8AEFF;
    color: #715EFF;
    text-align: center;
    font-size: 18px;
    padding: 15px; }
  .modal-search-result-box-5-active .modal-search-result-trash {
    display: inline-block;
    float: right;
    margin: 15px 5px 0 0; }

.modal-search-result-box-5:hover {
  border-color: #715EFF; }

.order-modal-6-container {
  padding: 20px;
  background-color: #F6F6F6; }

.order-modal-6-description {
  padding: 30px;
  font-size: 13px;
  background-color: #ededed;
  margin: 0; }

.order-modal-6-description-item-1,
.order-modal-6-description-item-2 {
  list-style: none;
  background-image: url(/assets/images/icon-dot-purple.png);
  background-repeat: no-repeat;
  background-position: left 7px;
  background-size: 4px;
  padding-left: 10px;
  font-size: 13px;
  font-weight: 400; }

.order-modal-6-description-item-1 {
  color: #715EFF; }

.order-modal-6-subtitle {
  margin-top: 40px;
  font-size: 20px;
  margin-bottom: 10px; }

.order-modal-6-body {
  padding: 0 30px 30px 30px; }

.order-modal-6-input {
  width: 100%;
  height: 60px;
  border: 1px solid #EDEDED;
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: 10px; }

.order-modal-6-checkbox-container {
  margin-top: 50px;
  padding: 30px 30px 10px;
  font-size: 15px;
  background-color: #F6F6F6; }

.order-modal-6-checkbox-notice {
  font-size: 14px;
  color: #715EFF;
  padding: 20px 40px;
  font-weight: 300;
  background-color: #ededed; }

.btn-group-modal {
  text-align: center;
  margin: 30px 0; }

.hashtag {
  color: #715EFF;
  background-color: #f1efff;
  padding: 5px 10px;
  font-size: 15px;
  display: inline-block;
  margin-bottom: 10px; }

.order-modal-6-recommend-label {
  margin-top: 40px;
  font-size: 15px;
  font-weight: 300;
  float: right; }

.order-modal-6-select {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 300; }

.order-modal-6-select-wrapper {
  margin-top: 45px;
  width: 400px;
  border-bottom: 1px solid #2B2C34;
  display: inline-block;
  padding-bottom: 5px; }

.order-modal-6-arrow-down {
  float: right;
  margin-top: 6px; }

.order-modal-6-checkbox {
  font-weight: 400; }

.order-modal-6-checkbox-wrapper {
  margin-bottom: 15px; }

.order-modal-6-checkbox-img {
  background-image: url("/assets/images/checkbox-no.png");
  display: inline-block;
  height: 18px;
  margin: 5px 5px 0 0;
  width: 18px; }

.order-modal-6-checkbox-img-checked {
  background-image: url("/assets/images/checkbox-yes.png");
  display: inline-block;
  height: 22px;
  margin: 1px 0 0 0;
  width: 23px; }

.order-modal-6-radio-label {
  display: inline-block;
  float: left;
  font-size: 15px;
  width: 500px;
  font-weight: 400; }

.order-modal-6-raido-img {
  float: left;
  display: inline-block;
  margin-right: 10px; }

.order-modal-6-checkbox-text {
  font-weight: 300; }

.order-modal-6-checkbox-text-checked {
  font-weight: 500;
  color: #715EFF; }

.order-modal-6-radio-label-active {
  color: #715EFF;
  font-weight: 500; }

.subtitle-desc {
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 5px;
  color: #ABABAD; }

#order-modal-6 {
  height: 600px;
  overflow-y: scroll; }

.modal-search-result-box-6 {
  background-color: #F6F6F6;
  padding: 20px;
  border: 4px solid #F6F6F6; }

/*# sourceMappingURL=modals.css.map */
