.main {
  max-width: 1200px; }

.order-header {
  background: url("/assets/images/header-order.png") no-repeat center;
  margin-bottom: 5px; }

.process {
  text-align: center;
  margin-bottom: 35px; }

.process-cart,
.process-order {
  color: #715EFF;
  font-size: 25px; }

.process-complete {
  color: #ABABAD;
  font-size: 25px; }

.process-cart::after,
.process-order::after {
  content: '';
  display: inline-block;
  width: 11px;
  height: 17px;
  background: url("/assets/images/arrow-right-purple.png") no-repeat;
  margin: 1px 30px; }

.order-subheader {
  margin-top: 60px;
  font-size: 25px; }

.order-title {
  padding-left: 30px; }

.order-title-text {
  text-align: left; }

.order-title-text-header {
  font-size: 18px;
  font-weight: 500;
  margin-top: 35px; }

.order-title-text-description {
  font-size: 15px; }

.order-discount {
  color: #715EFF; }

.order-total-price {
  font-weight: 500; }

.btn-order-information {
  background-color: #F6F6F6;
  padding-bottom: 16px; }

.icon-plus-black {
  margin-right: 5px; }

.btn-order-information-text {
  line-height: 17px;
  vertical-align: top; }

.order-information-complete {
  background-color: #f1efff; }

.order-information-complete-label {
  padding-left: 30px;
  color: #715EFF;
  font-size: 18px;
  font-weight: 500;
  text-align: left; }

.order-information-complete-data {
  font-weight: 500;
  padding-right: 30px;
  text-align: right; }

.order-information-complete-data-label {
  margin-left: 20px;
  color: #715EFF; }

.order-information-complete-data-link {
  text-decoration: underline; }

.well-notice {
  margin-top: 10px;
  padding: 40px;
  background-color: #F6F6F6; }

.well-notice-header {
  font-size: 25px; }

.well-notice-list-item {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px; }

.well-notice-list-dot {
  margin-bottom: 5px; }

.order-discount-table {
  border-top: 2px solid #2B2C34;
  margin-bottom: 60px; }

.order-discount-table-label {
  font-size: 18px;
  display: inline-block;
  width: 180px;
  height: 31px;
  padding: 20px 0 20px 30px;
  background-color: #f1efff;
  border-bottom: 1px solid #d5d5d6;
  float: left; }

.order-discount-table-data {
  font-size: 18px;
  height: 31px;
  font-weight: 300;
  display: inline-block;
  border-bottom: 1px solid #d5d5d6;
  padding: 20px 0 20px 30px;
  float: left;
  width: 960px; }

.order-discount-table-data-right {
  font-size: 15px;
  float: right;
  margin-top: 10px; }

.order-discount-table-data-checkbox {
  background-image: url("/assets/images/checkbox-no.png");
  display: inline-block;
  height: 18px;
  margin: 0 5px 4px 0;
  width: 18px;
  vertical-align: middle; }

.order-discount-table-data-checkbox-checked {
  background-image: url("/assets/images/checkbox-yes.png");
  display: inline-block;
  height: 22px;
  margin: 0 0 9px 0;
  width: 23px;
  vertical-align: middle; }

.order-discount-table-data-checkbox-label {
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 6px; }

.order-discount-table-input {
  font-size: 24px;
  width: 100px;
  color: #715EFF;
  text-align: right;
  border-bottom: 1px solid #2B2C34; }

.order-discount-table-coupon-input {
  color: #2B2C34;
  border-bottom: 1px solid #2B2C34; }

.order-discount-table-coupon-input-select {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 300; }

.arrow-down-black {
  margin-left: 10px; }

.final-price {
  margin-bottom: 80px; }

.final-price-block {
  width: 33%;
  float: left;
  background-color: #f1efff;
  padding: 40px 0 4px;
  text-align: center; }

.final-price-block-last {
  width: 34%;
  float: left;
  padding: 40px 0;
  text-align: center;
  color: #FFF;
  background-color: #715EFF; }

.final-price-block-label {
  font-size: 18px;
  font-weight: 400; }

.final-price-block-data {
  font-size: 34px; }

.final-price-icon {
  position: relative;
  float: right;
  bottom: 56px;
  right: -18px; }

.btn-group {
  text-align: center; }

.btn-payment-black {
  display: inline-block;
  color: #FFF;
  background-color: #2B2C34;
  border: 2px solid #2B2C34;
  padding: 25px 0;
  text-align: center;
  width: 270px; }

.btn-payment-white {
  width: 185px;
  color: #2B2C34;
  display: inline-block;
  text-align: center;
  padding: 25px 0;
  background-color: #FFF;
  border: 2px solid #2B2C34; }

/*# sourceMappingURL=order.css.map */
