<div class="desktop">
  <div class="footer-container">
    <div class="footer-links">
      <a href="#!" class="footer-link footer-link-first">이용약관</a><span class="footer-links-bar">|</span>
      <a href="#!" class="footer-link footer-link-second">개인정보취급방침</a><span class="footer-links-bar">|</span>
      <a href="#!" class="footer-link footer-link-third">이용안내</a>
    </div>
    <div class="clear"></div>

    <div class="footer-contact">
      <div class="footer-contact-number">
        <span class="footer-contact-label">고객센터</span>
        <span class="footer-contact-content">1600-9575</span>
      </div>
      <div class="footer-contact-time">
        <span class="footer-contact-label">고객센터<br>운영시간</span>
        <span class="footer-contact-content">10:30 ~ 18:30</span>
      </div>
      <div class="footer-contact-breaktime">점심시간은 오후 12시부터 오후 1시까지 입니다.<br>토요일, 일요일 공휴일은 쉽니다.</div>
    </div>

    <hr class="footer-hr">

    <div class="footer-accounts">
      <span class="footer-accounts-bank">
        <span class="footer-accounts-bank-name">국민은행</span>
        <span class="footer-accounts-bank-number">912-23-637362</span>
      </span>
      <span class="footer-accounts-bank-slash">/</span>
      <span class="footer-accounts-bank">
        <span class="footer-accounts-bank-name">하나은행</span>
        <span class="footer-accounts-bank-number">270-910196-49107</span>
      </span>
      <span class="footer-accounts-name">장진웅</span>
    </div>

    <div class="footer-company">
      <p class="footer-company-paragraph">
        <span class="footer-company-name">(주)감성스토리</span>
        사업자등록번호: 701-87-00540</span> <span class="footer-company-bar">|</span> 주소:서울특별시 성동구 하왕십리동 966-90 4층<br>
      </p>
      <p class="footer-company-paragraph">통신판매업신고번호:2016-서울성동-00944호 <a href="#!">사업자정보확인</a> <span class="footer-company-bar">|</span> 개인정보관리책입자: 송태훈 <a href="mailto:support@instarter.kr">support@instarter.kr</a></p>
    </div>

    <div class="footer-copyright">
      Copyright © INSTARER. All rights reserved.
    </div>
  </div>
</div>

<div class="mobile">
  <div class="footer-container">
    <div class="footer-links">
      <a href="#!" class="footer-link footer-link-first">이용약관</a><span class="footer-links-bar">|</span>
      <a href="#!" class="footer-link footer-link-second">개인정보취급방침</a><span class="footer-links-bar">|</span>
      <a href="#!" class="footer-link footer-link-third">이용안내</a>
    </div>
    <div class="clear"></div>

    <div class="footer-contact">
      <div class="footer-contact-number">
        <span class="footer-contact-label">고객센터</span>
        <span class="footer-contact-content">1600-9575</span>
      </div>
      <div class="footer-contact-time">
        <span class="footer-contact-label">고객센터<br>운영시간</span>
        <span class="footer-contact-content">10:30 ~ 18:30</span>
      </div>
      <div class="footer-contact-breaktime">점심시간은 오후 12시부터 오후 1시까지 입니다.<br>토요일, 일요일 공휴일은 쉽니다.</div>
    </div>

    <hr class="footer-hr">

    <div class="footer-accounts">
      <div class="footer-accounts-bank">
        <span class="footer-accounts-bank-name">국민은행</span>
        <span class="footer-accounts-bank-number">912-23-637362</span>
      </div>
      <div class="footer-accounts-bank">
        <span class="footer-accounts-bank-name">하나은행</span>
        <span class="footer-accounts-bank-number">270-910196-49107</span>
        <span class="footer-accounts-name">예금주: 장진웅</span>
      </div>
    </div>

    <div class="footer-company">
      <p class="footer-company-paragraph">
        <span class="footer-company-name">(주)감성스토리</span><br>
        사업자등록번호: 701-87-00540</span><br>
        <span>주소:서울특별시 성동구 하왕십리동 966-90 4층</span><br>
      </p>
      통신판매업신고번호:2016-서울성동-00944호 <span class="footer-company-paragraph"><a href="#!">사업자정보확인</a></span><br>
      개인정보관리책입자: 송태훈 <span class="footer-company-paragraph"><a href="mailto:support@instarter.kr">support@instarter.kr</a></span>
    </div>

    <div class="footer-copyright">
      Copyright © INSTARER. All rights reserved.
    </div>
  </div>
</div>
