<div class="desktop">
  <div class="header-container">
    <a href="/"><img src="/assets/images/temp-logo.png" class="header-logo"></a>
    <div class="header-nav">
      <a class="header-nav-item header-nav-item-link" href="/about">인스타터란?</a>
      <a class="header-nav-item header-nav-item-link" href="/service">서비스 소개</a>
      <a class="header-nav-item header-nav-item-link" href="/recommend">추천 서비스</a>
      <a class="header-nav-item header-nav-item-link" href="/review">고객 후기</a>
      <a class="header-nav-item header-nav-item-link" href="/faq">자주 묻는 질문</a>
      <a class="header-nav-item header-nav-login" href="/login">로그인</a>
      <span style="display: inline-block;">
        <a id="header-user-name" class="header-nav-item" href="#!">
          <img class="header-profile" src="/assets/images/sample-profile.jpg">
          <span class="header-user-name">홍길동</span>
        </a>
        <img class="login-modal-triangle hidden" src="/assets/images/icon-triangle-yellow.png">
        <div class="login-modal hidden">
          <div class="login-modal-header">
            <img class="login-modal-profile" src="/assets/images/sample-profile.jpg">
            <div class="login-modal-header-text">
              <div>
                <span class="login-modal-header-name">홍길동 님</span>
                <a href="/user/edit"><img src="/assets/images/icon-settings.png"></a>
              </div>
              <div class="login-modal-header-email">account_id@gmail.com</div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="login-modal-mileage">
            <span class="mileage-mark">M</span>
            <span class="mileage-text">적립금</span>
            <span class="mileage-amount">19,320원</span>
            <div class="clear"></div>
          </div>
          <div class="login-modal-empty-cart">
            <img src="/assets/images/icon-cart.png">
            <div class="empty-cart-text">장바구니에 담긴 상품이 없습니다.</div>
          </div>
          <div class="login-modal-cart">
            <div class="login-modal-cart-item">
              <img class="cart-item-icon" src="/assets/images/icon-daily-follow.png">
              <div class="cart-item-body">
                <span class="cart-item-title">데일리 팔로우 업 1,500</span>
                <a class="cart-item-cancel" href="#!"><img src="/assets/images/icon-x-grey-bold.png"></a>
                <span class="cart-item-amount">1개</span>
              </div>
              <div class="clear"></div>
            </div>
            <div class="login-modal-cart-item">
              <img class="cart-item-icon" src="/assets/images/icon-like.png">
              <div class="cart-item-body">
                <span class="cart-item-title">좋아요 업 2,500</span>
                <a class="cart-item-cancel" href="#!"><img src="/assets/images/icon-x-grey-bold.png"></a>
                <span class="cart-item-amount">1개</span>
              </div>
              <div class="clear"></div>
            </div>
            <a class="btn-header-cart" href="/order/cart">장바구니로 이동</a>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>

<div class="mobile">
  <div class="mobile-header-container">
    <a href="/mobile/"><img src="/assets/images/temp-logo.png" class="mobile-header-logo"></a>
    <a href="#!"><img src="/assets/images/hamburger.png" class="mobile-header-hamburger"></a>
  </div>
  <div class="mobile-nav hidden">
    <div class="mobil-nav-profile">
      <div class="mobil-nav-profile-left">
        <img class="mobile-nav-profile-image" src="/assets/images/sample-profile.jpg">
        <span class="mobile-nav-profile-username">홍길동님</span>
        <a href="/mobile/user/edit"><img src="/assets/images/icon-settings.png" class="icon-settings"></a>
      </div>
      <div class="mobil-nav-profile-right">
        <span class="mobile-nav-mark-mileage">M</span>
        <span class="mileage-label">적립금</span>
        <span class="mileage-value">19,320원</span>
      </div>
      <div class="clear"></div>
    </div>
    <ul class="mobile-nav-items">
      <li class="mobile-nav-item"><a href="/about">인스타터란?</a></li>
      <li class="mobile-nav-item"><a href="/mobile/service">서비스소개</a></li>
      <li class="mobile-nav-item"><a href="/mobile/recommend">추천서비스</a></li>
      <li class="mobile-nav-item"><a href="/mobile/review">고객후기</a></li>
      <li class="mobile-nav-item"><a href="/mobile/faq">자주 묻는 질문</a></li>
    </ul>
    <a class="mobile-nav-logout">로그아웃</a>
  </div>
</div>

<script>
  $(".mobile-header-hamburger").click(function() {
    $(".mobile-nav").toggleClass("hidden");
    $(".main").toggleClass("hidden");
    $(".footer").toggleClass("hidden");
  });

  $("#header-user-name").click(function() {
    $(".login-modal-triangle").toggleClass("hidden");
    $(".login-modal").toggleClass("hidden");
    $(".header-user-name").toggleClass("header-user-name-selected");
  });
</script>

