<div class="header-container">
  <a href="/"><img src="/assets/images/temp-logo.png" class="header-logo"></a>
  <div class="header-nav">
    <a class="header-nav-item" href="/about">인스타터란?</a>
    <a class="header-nav-item" href="/service">서비스 소개</a>
    <a class="header-nav-item" href="/recommend">추천 서비스</a>
    <a class="header-nav-item" href="/review">고객 후기</a>
    <a class="header-nav-item" href="/faq">자주 묻는 질문</a>
    <a class="header-nav-item header-nav-login" href="/login">로그인</a>
  </div>
</div>
