@charset "UTF-8";
@import 'variables';

@font-face {
  font-family: 'Roboto';
  unicode-range: U+20-7E;
}

body {
  color: $instarter-black;
  margin: 0;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  letter-spacing: -1.2;
}

input {
  border: none;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
  border-top: 2px solid $instarter-black;
}

th, td {
  text-align: center;
  border-bottom: 1px solid $instarter-border-grey;
  padding: 20px 0;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.main {
  color: $instarter-black;
  margin: 0 auto;
  width: 472px;
}

.main-header {
  font-size: 60px;
  line-height: 196px;
  margin: 80px auto 85px;
  text-align: center;
}

.form-control {
  box-sizing: border-box;
  background-color: $instarter-white;
  border: 1px solid $instarter-border-grey;
  color: $instarter-black;
  display: block;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 10px;
  min-width: 470px;
  padding: 25px 20px;

  &:disabled {
    background-color: $instarter-background-grey;
  }
}

.btn-default {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  background-color: $instarter-black;
  border: none;
  color: $instarter-white;
  font-size: 20px;
  height: 75px;
  width: 472px;
}

.sublink {
  margin-bottom: 15px;
}

.sublink-label {
  font-weight: 200;
}

.sublink-link {
  color: $instarter-purple;
  float: right;
  text-decoration: underline;
}

.float-right {
  float: right;
}
