@charset "UTF-8";
@import 'variables';

.cart-header {
  background: url("../images/header-cart.png") no-repeat center;
  font-size: 60px;
  height: 196px;
  margin: 80px 0 85px -42px;
  width: 565px;
  text-align: center;
}

.cart-header-badge {
  font-size: 20px;
  position: absolute;
  line-height: 20px;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: $instarter-yellow;
}

.main {
  widht: $width-desktop;
}

table {
  border-top: 2px solid $instarter-black;
}
