@charset "UTF-8";
@import 'variables';

.main {
  max-width: $width-desktop;
}

.faq-header {
  background: url("../images/header-faq.png") no-repeat center;
  margin-bottom: 5px;
}

.faq-subheader {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  margin: 80px 0 30px 0;
}

.faq-block {
  border-bottom: 1px solid $instarter-black;
  margin-bottom: 25px;
}

.faq-question {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}

.faq-question-arrow {
  background: url("../images/arrow-down-black-big.png") no-repeat center;
  display: inline-block;
  float: right;
  width:17px;
  height: 11px;
}

.faq-answer {
  display: none;
}

.faq-more {
  margin-top: 80px;
  background-color: $instarter-background-grey;
  padding: 40px;
}

.faq-more-header {
  font-size: 30px;
}

.faq-more-body {
  font-weight: 300;
}

.btn-faq-more {
  float: right;
  display: inline-block;
  background-color: $instarter-purple;
  color: $instarter-white;
  font-size: 20px;
  padding: 20px 30px;
  font-weight: 300;
}

.btn-faq-more-text {
  float: right;
  margin-left: 10px;
}

.faq-block-open {
  .faq-question {
    color: $instarter-purple;
  }

  .faq-answer {
    display: block;
    background-color: $instarter-background-grey;
    padding: 30px;
    font-weight: 300;
  }

  .faq-question-arrow {
    background: url("../images/arrow-up-purple-big.png") no-repeat center;
    display: inline-block;
    float: right;
    width:17px;
    height: 11px;
  }
}
