@charset "UTF-8";
@import 'variables';

.footer {
  margin-top: 150px;
  padding: 80px 0 100px 0;
  background-color: $instarter-black;
  letter-spacing: -0.25px;
  bottom: 0;
  color: $instarter-white;
  font-size: 15px;
}

.footer-container {
  background-color: $instarter-black;
  max-width: $width-desktop;
  margin: 0 auto;
}

/*FOOTER LINKS: 이용약관, 개인정보취급방침, 이용안내*/
.footer-links {
  margin-bottom: 50px;
}

.footer-link {
  color: $instarter-font-grey;
  text-decoration: none;
}

.footer-links-bar {
  color: $instarter-border-grey;
  font-size: 13px;
  vertical-align: top;
}

.footer-link-first{
  padding-right: 15px;
}

.footer-link-second{
  padding: 0 15px;
}

.footer-link-third{
  padding-left: 15px;
}

/* 고객센터 */
.footer-contact {
  margin-bottom: 20px;
}

.footer-contact-number, .footer-contact-time {
  display: inline-block;
  margin-right: 50px;
}

.footer-contact-label {
  display: inline-block;
  margin-right: 20px;
  color: #9182ff;
}

.footer-contact-number .footer-contact-label {
  float: left;
  margin-top: 20px;
}

.footer-contact-content {
  font-size: 45px;
}

.footer-contact-breaktime {
  display: inline-block;
  color: $instarter-font-grey;
}

.footer-hr {
  size: 1px;
  color: $instarter-border-grey;
  margin-bottom: 30px;
}

/* 계좌정보 */
.footer-accounts {
  margin-bottom: 50px;
}

.footer-accounts-bank-name {
  color: $instarter-font-grey;
  margin-right: 10px;
}

.footer-accounts-bank-number {
  font-size: 20px;
}

.footer-accounts-bank-slash {
  margin: 0 10px;
  font-size: 20px;
}

.footer-accounts-name {
  margin-left: 18px;
}

/* 회사정보 */
.footer-company {
  font-size: 13px;
  margin-bottom: 20px;
}

.footer-company-name {
  font-weight: bold;
  margin-right: 25px;
}

.footer-company-paragraph {
  margin-bottom: 10px;

  a {
    margin-left: 5px;
    color: $instarter-font-grey;
    text-decoration: underline;
  }
}

.footer-company-bar {
  font-size: 11px;
  margin: 0 10px;
  color: $instarter-border-grey;
  vertical-align: top;
}

.footer-copyright {
  font-size: 13px;
  color: $instarter-font-grey;

}

@media (max-width: 1200px) {
  .footer {
    padding: 0 0 70px;
  }
}

.mobile {
  .footer-links {
    display: none;
  }

  .footer-container {
    background-color: $instarter-black;
    max-width: $width-desktop;
    margin: 0 40px;
  }

  /* 고객센터 */
  .footer-contact-number, .footer-contact-time {
    display: block;
  }

  .footer-contact-label {
    font-size: 35px;
    margin-top: 10px;
  }

  .footer-contact-content {
    font-size: 65px;
  }

  .footer-contact-time {
    .footer-contact-label {
      float: left;
    }

    .footer-contact-content {
      float: left;
      margin: 30px 0;
    }
  }

  .footer-contact-breaktime {
    font-size: 25px;
    padding-left: 10px;
    margin-bottom: 50px;
  }

  .footer-accounts-bank-name,
  .footer-accounts-bank-number,
  .footer-accounts-name {
    display: inline-block;
    font-size: 28px;
  }

  .footer-company-paragraph {
    font-size: 15px;
  }

  .footer-company {
    font-weight: 500;
  }

  font-weight: 300;
}

.mobile-footer-links {
  font-size: 40px;
  border-bottom: 1px solid $instarter-border-grey;
  margin-bottom: 70px;
  .footer-link {
    width: 33%;
    display: inline-block;
    float: left;
  }

  .footer-link-first,
  .footer-link-second,
  .footer-link-third {
    padding: 0;
    text-align: center;
    line-height: 100px;
  }

  .footer-link-first,
  .footer-link-second {
    border-right: 1px solid $instarter-border-grey;
  }
}

