@charset "UTF-8";
@import 'variables';

@media (min-width: 1200px) {
  .header {
    background-color: $instarter-black;
    height: 80px;
    overflow: scroll;
  }
}

.header-container {
  margin: 0 auto;
  width: $width-desktop;
}

.header-logo {
  margin-top: 26px;
  float: left;
}

.header-nav {
  line-height: 80px;
  vertical-align: middle;
  float: right;
}

.header-nav-item,
.header-nav-item-selected {
  color: $instarter-white;
  font-size: 18px;
  margin-left: 40px;
}

.header-nav-item-selected {
  color: $instarter-font-grey;
}

.header-nav-item-link:hover {
  height: 80px;
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 4px solid $instarter-yellow;
  color: $instarter-yellow;
}

.header-profile {
  width: 30px;
  height: 30px;
  border: 1px solid $instarter-white;
  border-radius: 40px;
  background-color: $instarter-border-grey;
  margin-right: 5px;
  margin-bottom: -10px;
}

.header-user-name-selected {
  text-decoration: underline;
}

/* user header */
$user-header-height: 60px;

.user-header {
  background-color: $instarter-background-grey;
  height: $user-header-height;
}

.user-header-logo {
  line-height: $user-header-height;
  float: left;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
}

.user-header-nav {
  line-height: $user-header-height;
  vertical-align: middle;
  float: right;
}

.user-header-nav-item {
  margin-left: 40px;
  color: $instarter-black;
}

.header-nav-login {
  color: $instarter-font-grey;
}

.user-header-container {
  margin: 0 auto;
  max-width: $width-desktop;
}

// login modal

.login-modal {
  margin-left: -215px;
  width: 350px;
  position: absolute;
  background-color: $instarter-yellow;
}

.login-modal-triangle {
  position: absolute;
  margin: 70px 0 0 -50px;
}

.login-modal-profile {
  width: 80px;
  height: 80px;
  border: 1px solid $instarter-white;
  border-radius: 40px;
  background-color: $instarter-border-grey;
  float: left;
  margin-right: 10px;
}

.login-modal-header {
  padding: 20px;
  border-bottom: 1px solid $instarter-white;
}

.login-modal-header-text {
  line-height: initial;
  float: left;
  margin-top: 15px;
}

.login-modal-header-name {
  font-size: 20px;
  line-height: 26px;
  margin-right: 30px;
  color: $instarter-white;
  float: left;
}

.login-modal-header-email {
  color: $instarter-white;
  font-size: 15px;
  margin-top: 5px;
  font-weight: 300;
}

.login-modal-mileage {
  padding: 15px 20px;
}

.mileage-mark {
  float: left;
  display: inline-block;
  color: $instarter-yellow;
  background-color: $instarter-white;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-right: 5px;
}

.mileage-text {
  font-size: 18px;
  line-height: 20px !important;
  line-height: initial;
  float: left;
  color: $instarter-white;
}

.mileage-amount {
  font-size: 18px;
  line-height: 20px !important;
  float: right;
  line-height: initial;
  color: $instarter-white;
}

.login-modal-empty-cart {
  text-align: center;
  padding: 30px;
  background-color: $instarter-background-grey;
}

.empty-cart-text {
  line-height: initial;
  color: $instarter-font-grey;
  font-size: 15px;
  margin-top: 5px;
}

.login-modal-cart-item {
  padding: 20px;
  line-height: initial;
  background-color: $instarter-white;
  border: 1px solid $instarter-yellow;
}

.cart-item-icon {
  float: left;
}

.cart-item-body {
  float: right;
  width: 230px;
  font-size: 15px;
  line-height: 32px;
}
.cart-item-title {
  float: left;
}
.cart-item-amount {
  margin-right: 30px;
  float: right;
}
.cart-item-cancel {
  margin-top: 6px;
  float: right;
}

.btn-header-cart {
  background-color: $instarter-black;
  color: $instarter-white;
  text-align: center;
  display: block;
  font-size: 18px;
  width: 100%;
}


// MOBILE
@media (max-width: 1200px) {
  .header {
    background-color: $instarter-black;
    height: 140px;
  }

  .user-header {
    height: inherit;
  }

}

.mobile-header-logo {
  margin: 45px;
  float: left;
  height: 55px;
}

.mobile-header-hamburger {
  float: right;
  height: 35px;
  margin: 55px;
}

.mobile-nav {
  color: $instarter-white;
  width: 100%;
  background-color: $instarter-black;
  position: absolute;
  top: 140px;
  height: 100%;
  height: -webkit-calc(100% - 110px);
  height: -moz-calc(100% - 110px);
  height: calc(100% - 110px);
  z-index: 1;
  overflow-y: auto;
}

.mobile-nav-items {
  border-top: 1px solid $instarter-font-grey;
  padding: 45px;
  font-size: 45px;
  font-weight: 400;
  list-style-type: none;
  text-decoration: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.mobile-nav-item {
  margin-bottom: 50px;

  a {
    color: $instarter-white;
  }
}

.mobile-nav-logout {
  position: absolute;
  color: $instarter-font-grey;
  margin-left: 45px;
  bottom: 0;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 400;
}

.mobil-nav-profile {
  border-top: 1px solid $instarter-font-grey;
}

.mobile-nav-profile-image {
  width: 70px;
  height: 70px;
  border: 1px solid $instarter-white;
  border-radius: 40px;
  background-color: $instarter-border-grey;
  margin-right: 5px;
  margin-bottom: -10px;
  float: left;
  margin-left: 40px;
}

.mobile-nav-profile-username {
  font-size: 40px;
  color: $instarter-white;
  float: left;
  margin: 6px 0 0 5px;
}

.mobile-nav-mark-mileage {
  display: inline-block;
  font-size: 30px;
  color: black;
  background-color: white;
  width: 34px;
  height: 34px;
  float: left;
  text-align: center;
  margin-top: 11px;
  font-weight: 500;
  margin-right: 15px;
}

.mileage-label, .mileage-value {
  font-size: 36px;
}

.mileage-label {
  margin-right: 60px;
}

.mobil-nav-profile-left {
  padding: 15px 0 23px;
  display: inline-block;
  float: left;
  border-right: 1px solid $instarter-border-grey;
  width: 50%;
}

.mobil-nav-profile-right {
  padding: 15px 20px 23px;
  float: right;
  display: inline-block;
  margin-top: 10px;
}

.mobile {
  .user-header-title {
    color: $instarter-purple;
    float: left;
    font-size: 40px;
    padding: 30px 50px;
  }

  .arrow-down {
    float: right;
    width: 30px;
    margin: 50px 50px;
  }
}
