@charset "UTF-8";
@import 'variables';

$header-height: 80px;

.header {
  background-color: $instarter-black;
  height: $header-height;
}

.header-container {
  margin: 0 auto;
  width: $width-desktop;
}

.header-logo {
  margin-top: 26px;
  float: left;
}

.header-nav {
  line-height: $header-height;
  vertical-align: middle;
  float: right;
}

.header-nav-item,
.header-nav-item-selected {
  color: $instarter-white;
  font-size: 18px;
  margin-left: 40px;
}

.header-nav-item-selected {
  color: $instarter-font-grey;
}

/* user header */
$user-header-height: 60px;

.user-header {
  background-color: $instarter-background-grey;
  min-width: $width-desktop;
  height: $user-header-height;
}

.user-header-logo {
  line-height: $user-header-height;
  float: left;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
}

.user-header-nav {
  line-height: $user-header-height;
  vertical-align: middle;
  float: right;
}

.user-header-nav-item {
  margin-left: 40px;
  color: $instarter-black;
}
