@charset "UTF-8";
@import 'variables';

.main {
  width: 472px;
}

.signup-header {
  background-image: url("/assets/images/header-login.png");
  margin: 80px auto 85px;
  width: 465px;
}

.form-control-first {
  margin-bottom: 0;
  border-bottom: none;
}

.form {
  margin-bottom: 150px;
}

.btn-socials {
  margin: 20px 0 30px 0;
}

.btn-naver,
.btn-facebook {
  color: #fff;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  padding: 25px 70px;
}

.btn-naver {
  background-color: #1fc700;
  background-image: url("/assets/images/naver-logo.png");
  background-repeat: no-repeat;
  background-position: 5px 10px;
}

.btn-facebook {
  background-color: #3b5998;
  background-image: url("/assets/images/facebook-logo.png");
  background-repeat: no-repeat;
  background-position: 5px 10px;
}

.btn-group {
  margin: 20px;
  text-align: center;
}

.btn-submit {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: $instarter-black;
  border: 2px solid $instarter-black;
  color: $instarter-white;
  font-size: 20px;
  height: 50px;
  width: 120px;
}

.btn-cancel {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: $instarter-white;
  border: 2px solid $instarter-black;
  color: $instarter-black;
  font-size: 20px;
  height: 50px;
  width: 120px;
}
