@charset "UTF-8";
@import 'variables';

.main {
  width: 472px;
}

.lost-header {
  background: url("/assets/images/header-login.png") no-repeat center;
  font-size: 60px;
  height: 196px;
  margin: 80px 0 85px -42px;
  width: 565px;
  text-align: center;
}

.form-control-first, .form-control-second {
  margin-bottom: 0;
  border-bottom: none;
}

.sublink {
  margin-bottom: 15px;
}
.sublink-link {
  float: right;
}

.login-radio-group {
  text-align: center;
  margin: 100px 0 30px;
}

.lost-radio {
  background-image: url("/assets/images/radio-no.png");
  display: inline-block;
  height: 20px;
  width: 20px;
}

.lost-radio-checked {
  background-image: url("/assets/images/radio-yes.png");
}

.lost-radio-label {
  line-height: 23px;
  margin-right: 25px;
  vertical-align: top;
}

.btn-password {
  background-color: #FFF;
  border: 2px solid $instarter-black;
  color: $instarter-black;
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;
  width: 155px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
}

.btn-cancel {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: $instarter-black;
  border: none;
  color: $instarter-white;
  font-size: 20px;
  height: 50px;
  width: 120px;
}

.btn-group {
  text-align: center;
}

.btn-cancel-find-password {
  margin: auto 0;
}

.modal-text {
  font-weight: 300;
  text-align: center;
  margin-bottom: 85px;
}

.modal-username {
  color: $instarter-purple;
  font-weight: bold;
}

.modal-name {
  font-weight: normal;
}
