$instarter-black: #2B2C34;
$instarter-purple: #715EFF;
$instarter-purple-disable: #B8AEFF;
$instarter-yellow: #FFBC66;
$instarter-white: #FFF;
$instarter-pink: #FF5E8B;
$instarter-skyblue: #24DCDE;
$instarter-font-grey: #ABABAD;
$instarter-font-alert-grey: #67676A;
$instarter-border-grey: #EDEDED;
$instarter-background-grey: #F6F6F6;

$width-desktop: 1200px;
