/*
Error: File to import not found or unreadable: variables.
       Load path: /Users/shinkim/Private
        on line 2 of ../gsstory/assets/scss/user/edit.scss

1: @charset "UTF-8";
2: @import 'variables';
3: 
4: .signup-user-type {
5:   margin-bottom: 60px;
6: }
7: 

Backtrace:
../gsstory/assets/scss/user/edit.scss:2
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/import_node.rb:45:in `import'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:313:in `visit_import'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/plugin.rb:109:in `method_missing'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Users/shinkim/.gem/ruby/2.3.1/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/Users/shinkim/.gem/ruby/2.3.1/bin/sass:23:in `load'
/Users/shinkim/.gem/ruby/2.3.1/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: variables.\A        Load path: /Users/shinkim/Private\A         on line 2 of ../gsstory/assets/scss/user/edit.scss\A \A 1: @charset \"UTF-8\";\A 2: @import 'variables';\A 3: \A 4: .signup-user-type {\A 5:   margin-bottom: 60px;\A 6: }\A 7: "; }
