@charset "UTF-8";
@import 'variables';

.main {
  width: 472px;
}

.signup-header {
  background-image: url("../../images/header-user-create.png");
  height: 156px;
  width: 367px;
}

.edit-header {
  background: url("../../images/header-user-edit.png") no-repeat center;
  height: 186px;
}

.signup-naver-logo {
  position: absolute;
  margin: 9px 0 0 405px;
  width: 54px;
  height: 54px;
  background-image: url("../../images/naver-logo.png")
}

// 개인회원, 기업회원
.signup-user-type {
  color: $instarter-black;
  float: left;
  width: 235px;
  text-align: center;
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: $instarter-background-grey;
}

.signup-user-type-selected {
  color: $instarter-white;
  background-color: $instarter-purple;
}

// 회원가입 약관동의, 개인정보수집 및 이용동의서
.signup-agreements {
  margin-bottom: 60px;
}

.signup-agreement {
  max-width: 432px;
  background-color: $instarter-background-grey;
  margin-bottom: 2px;
  padding: 20px;
  font-size: 18px;
}

.signup-agreement-checkbox {
  background-image: url("../../images/checkbox-no.png");
  float: left;
  height: 18px;
  margin: 5px 10px 0 0;
  width: 18px;
}

.signup-agreement-checkbox-checked {
  background-image: url("../../images/checkbox-yes.png");
  height: 22px;
  margin: 1px 5px 0 0;
  width: 23px;
}

.signup-agreement-link {
  color: $instarter-font-alert-grey;
  float: right;
  font-size: 15px;
  text-decoration: underline;
}
