@charset "UTF-8";
@import 'variables';

td {
    font-size: 15px;
    font-weight: 300;
}

.main {
  margin: 0 auto;
  max-width: 1200px;
}

.user-service-header {
  background: url("/assets/images/header-user-edit.png") no-repeat center;
  height: 186px;
}

.service-main-tab {
  float: left;
  width: 50%;
  display: inline-block;
  border-bottom: 1px solid $instarter-black;
  padding-bottom: 15px;
  text-align: center;
  margin-bottom: 35px;
  color: $instarter-font-grey;
  font-size: 24px;
  font-weight: 300;
}

.service-sub-tab:first-of-type {
  margin-right: 30px;
}

.service-main-tab-active {
  border-bottom: 2px solid $instarter-black;
  padding-bottom: 14px;
  color: $instarter-black;
  font-weight: 500;
}

.service-list-tabs {
  width: 100%;
  border-bottom: 1px solid $instarter-border-grey;
  text-align: center;
}

.service-list-tab {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: $instarter-font-grey;
  font-weight: 300;
  padding-bottom: 19px;
  margin-left: 20px;
  :first-of-type {
    margin-left: 0;
  }
}
.service-list-tab-active {
  color: $instarter-purple;
  font-weight: 400;
  border-bottom: 2px solid $instarter-purple;
}

.service-subheader {
  margin-top: 60px;
  padding-bottom: 8px;
  font-size: 25px;
}

.service-table-1 th {
  background-color: #f1efff;
  text-align: left;
  padding-left: 30px;
}

.service-table-1 td {
  text-align: left;
  padding-left: 30px;
  font-size: 15px;
}

.service-table-2-result-row {
  background-color: $instarter-background-grey;
}

.btn-renewal {
  background-color: $instarter-black;
  display: inline-block;
  float: right;
  color: $instarter-white;
  padding: 10px 0;
  text-align: center;
  width: 115px;
  font-size: 16px;
}

.service-table-1-number {
  color: $instarter-font-grey;
  font-size: 15px;
  font-weight: 300;
}

.service-table-1-date {
  line-height: 44px;
  color: $instarter-font-grey;
  font-size: 15px;
  float: left;
  font-weight: 300;
}

.service-table-1-title {
  font-weight: 500;
  font-size: 18px !important;
}

.service-table-1-status {
  font-weight: 500;
  color: $instarter-purple;
  font-size: 25px !important;
}

.service-table-1-profile-img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: $instarter-background-grey;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.service-table-1-account {
  margin-top: 10px;
  font-weight: 500;
  font-size: 25px !important;
  display: inline-block;
}

.service-table-1-username {
  font-size: 18px !important;
  display: inline-block;
}

.service-table-2 td {
  font-weight: 300;
}

.service-table-2-after {
  font-weight: 500 !important;
}

.service-table-2-delta {
  font-weight: 500 !important;
  color: $instarter-purple;
}


.service-table {
  margin: 60px 0;
}

.service-table-td-link-3 {
  color: $instarter-purple;
  border-bottom: 1px solid $instarter-purple;
  display: inline-block;
}

.service-table-td-1-1 {
  font-weight: 500;
  font-size: 15px;
}

.service-table-td-1-2 {
  font-weight: 300;
  font-size: 15px;
  text-decoration: underline;
}

.service-table-td-2 {
  font-weight: 500;
  font-size: 18px;
}

.service-pagination-wrapper {
  text-align: center;
}

.service-pagination {
  display: inline-block;
}

.service-pagination a {
  padding: 15px 18px;
  display: inline-block;
  float: left;
  color: $instarter-black;
  margin: 0 5px;
}

.service-pagination-prev,
.service-pagination-next {
  background-color: $instarter-background-grey;
}

.service-table-3-image {
  width: 60px;
  height: 60px;
  float: left;
}

.service-table-3-link {
  color: $instarter-font-grey;
  text-decoration: underline;
  margin: 20px 0 0 10px;
  float: left;
}


.service-table-3-disabled {
  color: $instarter-purple;
  margin: 20px 0 0 10px;
  float: left;
}


.service-table-3-purple {
  color: $instarter-purple;
}

.service-table-3-bold {
  font-weight: 500;
}

.service-table-4 {
  height: 200px;
}

.service-table-4-td-title {
  text-align: left;
  font-weight: 500;
  margin-left: 20px;
  font-size: 25px;
}

.service-table-4-td-description {
   margin-left: 20px;
   text-align: left;
}

.service-table-4-td-yellow {
  font-size: 50px;
  color: $instarter-yellow;
}

.service-table-4-td-title-3 {
  color: $instarter-font-grey;
  font-weight: 500;
  font-size: 30px;
}

.service-table-4-td-purple {
  font-size: 50px;
  color: $instarter-purple;
}

.service-table-5-image {
  width: 80px;
  height: 80px;
  float: left;
}

.service-table-5-thead-label {
  font-weight: 500;
  display: inline-block;
  line-hegiht: 45px;
  padding: 9px 0;
  margin-right: 10px;
  font-size: 18px;
  float: left;
}


.service-table-5-btn-group {
  float: left;
  background-color: $instarter-white;
  display: inline-block;
  border-radius: 10px;
  margin-right: 10px;
}

.service-table-5-btn {
  width: 80px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: $instarter-white;
  color: $instarter-purple-disable;
  float: left;
  font-size: 16px;
  border-radius: 10px;
}

.service-table-5-btn-active {
  background-color: $instarter-purple;
  color: $instarter-white;
}

.service-table-5-thead {
  font-weight: 500;
  background-color: #f1efff;
}

.btn-update {
  background-color: $instarter-black;
  display: inline-block;
  color: $instarter-white;
  padding: 10px 20px;
  float: left;
  margin-right: 10px;
}

.service-subheader-5-notice {
  float: right;
  color: $instarter-purple;
  font-weight: 300;
  font-size: 15px;
}

.service-table-5-block {
  display: inline-block;
  margin: 0 10px 10px 0;
}

.service-table-5-block-selected {
  .service-like-count {
    display: block;
    text-align: left;
    font-weight: 500;
  }

  .service-table-5-image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }

  .arrow-down {
    display: none !important;
  }
}

.service-table-5-first-row-image {
  display: block;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
}

.service-like-count {
  display: none;
}

.fa {
  font-size: 20px;
  color: $instarter-font-grey;
  margin-right: 5px;
}

.service-table-5-first-column-1 {
  font-size: 18px;
  font-weight: 500;
}

.service-table-5-first-column {
  font-size: 25px;
  font-weight: 300;
  width: 300px;
  text-align: left;
  padding-left: 40px;
}

.service-table-5-first-column-2 {
  font-size: 50px;
}

.service-table-5-first-column-2-purple {
  color: $instarter-purple;
}

.service-table-5-first-column-2-grey {
  color: $instarter-font-grey;
}

.service-table-5-second-column {
  text-align: left;
}

.arrow-down {
  float: right;
  margin: 40px 20px 0 0;
}

.text-applying {
  float: left;
  color: $instarter-font-grey;
  padding: 10px;
}

.text-applied {
  float: left;
  color: $instarter-yellow;
  padding: 10px;
}

.service-table-input {
  padding-bottom: 10px;
  border-bottom: 1px solid $instarter-black;
}

.service-table-input-select {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 300;
  vertical-align: middle;
}

.service-table-input-select-icon {
  padding-left: 25px;
}

.hashtag, .comment {
  float: left;
  background-color: #f1efff;
  color: $instarter-purple;
  padding: 10px;
  font-size: 15px;
  margin: 0 10px 10px 0;
}
