.header {
  background-color: #2b2c34;
  min-width: 1200px;
  height: 80px;
}

.header-container {
  margin: 0 auto;
  width: 1200px;
}

.header-logo {
  margin-top: 26px;
  float: left;
}

.header-nav {
  margin-top: 25px;
  float: right;
}

.header-nav-item {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin: 0 20px;
}

.header-nav-login {
  opacity: 0.5
}
