.review-header-wrapper {
  background-color: #F6F6F6;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 60px; }

.review-header {
  background: url(../images/header-review.png) no-repeat center;
  line-height: initial;
  padding: 48px 0 16px;
  margin: 0; }

.review-subheader {
  font-size: 34px;
  margin: -15px 0 20px; }

.review-description {
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 50px; }

.review-ticket {
  height: 245px;
  vertical-align: top;
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  color: #715EFF;
  margin: 0 65px 60px; }

.review-ticket-image {
  margin-bottom: 20px; }

.review-ticket-description {
  height: 58px; }

.review-ticket-award {
  color: #2B2C34;
  font-size: 70px; }

.review-table-wrapper {
  width: 1200px;
  margin: 0 auto; }

.review-table-header {
  margin-bottom: 15px; }

.review-count {
  font-weight: 400;
  font-size: 18px; }

.review-table-orders {
  float: right;
  margin-top: 8px; }

.btn-order {
  font-size: 15px;
  color: #ABABAD; }

.btn-order-active {
  color: #715EFF; }

.icon-checked {
  margin: 0 10px 0 20px; }

.review-table {
  margin-bottom: 30px; }

.review-table-td-1,
.review-table-td-4,
.review-table-td-5,
.review-table-td-6 {
  font-weight: 300; }

.review-table-td-2 {
  font-weight: 400; }

.review-table-td-3 {
  font-weight: 500;
  text-align: left; }

.review-write-box {
  background-color: #F6F6F6;
  padding: 40px 45px;
  margin-bottom: 30px; }

.review-write-box-text {
  display: inline-block; }

.review-write-box-header {
  font-size: 30px; }

.review-write-box-description {
  font-weight: 300; }

.btn-review-write {
  background-color: #715EFF;
  color: #FFF;
  float: right;
  padding: 20px 30px; }

.btn-review-write-text {
  line-height: 32px;
  vertical-align: text-bottom;
  margin-left: 10px; }

.review-pagination-wrapper {
  text-align: center; }

.review-pagination {
  display: inline-block; }

.review-pagination a {
  padding: 15px 18px;
  display: inline-block;
  float: left;
  color: #2B2C34;
  margin: 0 5px; }

.review-pagination-prev,
.review-pagination-next {
  background-color: #F6F6F6; }

.modal-body {
  margin: 40px 25px; }

.modal-body-title {
  font-size: 20px; }

.btn-submit {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: #2B2C34;
  border: 2px solid #2B2C34;
  color: #FFF;
  font-size: 18px;
  padding: 10px 0;
  width: 125px; }

.btn-close {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #2B2C34;
  background-color: #FFF;
  color: #2B2C34;
  font-size: 18px;
  padding: 10px 0;
  width: 125px; }

.btn-group {
  text-align: center; }

.modal-body-product {
  color: #2B2C34;
  display: block;
  border-bottom: 1px solid #2B2C34;
  padding: 5px 0;
  margin-bottom: 15px; }

.modal-body-product-description {
  color: #715EFF;
  font-size: 13px;
  margin-bottom: 50px;
  font-weight: 300; }

.arrow-down-black {
  float: right;
  margin-top: 7px; }

.modal-body-input {
  width: 100%;
  height: 60px;
  border: 1px solid #EDEDED;
  margin-bottom: 10px;
  padding: 25px;
  font-size: 18px; }

.modal-body-textarea {
  width: 100%;
  height: 250px;
  border: 1px solid #EDEDED;
  font-size: 15px;
  padding: 25px;
  margin-bottom: 10px; }

.modal-file-wrapper {
  padding: 30px;
  background-color: #F6F6F6;
  text-align: center; }

.btn-add {
  display: inline-block;
  margin-bottom: 10px; }

.btn-add-image {
  float: left;
  margin-right: 10px; }

.btn-add-text {
  color: #ABABAD;
  font-size: 18px;
  float: left;
  line-height: 48px; }

.modal-file-description {
  color: #ABABAD;
  font-size: 15px; }

.modal-file-list {
  background-color: #EDEDED;
  padding: 10px 80px;
  margin-bottom: 30px; }

.modal-file-thumbnail {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-right: 10px;
  float: left; }

.modal-file-name {
  display: inline-block;
  float: left;
  color: #2B2C34;
  font-weight: 300;
  line-height: 40px; }

.btn-file-cancel {
  margin-left: 15px; }

/*# sourceMappingURL=review.css.map */
