.signup-header {
  background-image: url("../images/header-signup.png");
  font-size: 60px;
  height: 156px;
  line-height: 196px;
  margin: 80px auto 85px;
  width: 367px;
  text-align: center;
}

.signup-naver-logo {
  position: absolute;
  margin: 9px 0 0 405px;
  width: 54px;
  height: 54px;
  background-image: url("../images/signup-naver-logo.png")
}

.signup-username,
.signup-email,
.signup-password,
.signup-password-confirmation,
.signup-phone {
  background-color: #fff;
  border: 1px solid #ededed;
  color: #2b2c34;
  display: block;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 10px;
  min-width: 470px;
  padding: 25px 20px;
}

.signup input:disabled {
  background-color: #f7f7f7;
}

.signup-user-type {
  color: #2b2c34;
  text-decoration: none;
  float: left;
  width: 235px;
  text-align: center;
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: #f7f7f7;
}

.signup-user-type-selected {
  color: #fff;
  background-color: #715eff;
}
.signup-agreement {
  max-width: 432px;
  background-color: #f7f7f7;
  margin-bottom: 2px;
  padding: 20px;
  font-size: 18px;
}

.signup-agreement-input {
  display: none;
}

.signup-agreement-checkbox {
  top: 2px;
  width: 18px;
  height: 18px;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  background-image: url("../images/checkbox-no.png");
}

.signup-agreement-checkbox-checked {
  margin-top: 1px;
  margin-right: 5px;
  width: 23px;
  height: 22px;
  background-image: url("../images/checkbox-yes.png");
}

.signup-agreement-link {
  float: right;
  color: #2b2c34;
  font-size: 15px;
  opacity: 0.6;
}

.signup-submit {
  background-color: #2b2c34;
  border: none;
  color: #fff;
  font-size: 20px;
  height: 75px;
  margin: 60px 0 150px 0;
  width: 472px;
}

