@charset "UTF-8";
@import 'variables';

$header-height: 80px;

.header {
  background-color: $instarter-black;
  height: 110px;
}

.header-container {
  margin: 0 auto;
  max-width: $width-desktop;
}

.header-logo {
  margin: 35px;
  float: left;
  height: 35px;
}

.header-hamburger {
  float: right;
  margin: 35px;
}
