@charset "UTF-8";
@import 'variables';

.home-header {
  height: inherit;
}

.home-header-content {
  padding-top: 370px;
  padding-bottom: 100px;
}

.home-header-content-title {
  font-weight: 400;
}
.home-header-content-subtitle {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 75px;
}

.owl-carousel-2 .owl-controls .owl-page span,
.owl-carousel-2 .owl-controls.clickable .owl-page span {
  background-color: transparent;
  border: 1px solid $instarter-purple;
  opacity: 1;
}

.owl-carousel-2 .owl-controls .owl-page.active span,
.owl-carousel-2 .owl-controls.clickable .owl-page:hover span {
  background-color: $instarter-purple;
  opacity: 1;
}

.home-service-body-item-img {
  display: block;
  float: initial;
}

.home-service-body-item-1,
.home-service-body-item-2,
.home-service-body-item-3,
.home-service-body-item-4,
.home-service-body-item-5,
.home-service-body-item-6 {
  display: inline-block;
  width: 70%;
  height: initial;
  margin-bottom: 75px;
  background-position: center bottom;
}

.owl-item {
  text-align: center;
}

.home-why-container {
  float: initial;
  margin: 0 auto;
}

.home-why-container-wrapper {
  max-width: inital;
}

.home-service-body-item-img {
  width: 100%;
  margin: 0 auto;
}

.home-service-body-item-text-header {
  font-weight: 500;
  font-size: 35px;
}

.home-service-body-item-text-body {
  font-weight: 400;
  font-size: 23px;
}

.btn-home-header-about, .btn-home-header-service {
  font-size: 26px;
}

.home-service-header-korean {
  font-size: 45px;
}

.home-service-header-english {
  font-size: 16px;
}

.home-why {
  padding: 380px 0 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-why-header {
  font-size: 45px;
  line-height: 50px;
}

.home-why-container {
  width: 90%;
}

.home-why-link {
  color: $instarter-white;
}

.home-why-link {
  font-size: 26px;
  height: 20px;
}

.home-review {
  padding: 140px 0 130px;
}

.home-review-container {
  height: initial;
  width: 80%;
  background: url(/assets/images/home-review-background.png) no-repeat center;
  background-size: 400px;
}

.home-review-item-user {
  font-size: 18px;
  padding-top: 50px;
}

.home-review-item-title {
  font-size: 50px;
  margin-bottom: 40px;
}

.home-review-item-body {
  font-size: 20px;
}

.footer {
  margin: 0;
}

.yellow-line {
  text-decoration: underline;
  color: $instarter-yellow;
}

.owl-theme .owl-controls {
    margin-top: -50px;
    text-align: center;
}

.home-why-body {
  font-size: 26px;
}

.home-review-item-body {
  font-size: 26px;
  letter-spacing: -1.5px;
}

.home-review-title {
  font-size: 22px;
}

.home-instamanager {
  padding: 150px 0;
}

.home-instamanager-title {
  font-size: 24px;
}

.home-instamanager-description {
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 20px;
}

.home-instamanager-label {
  font-size: 22px;
  margin-bottom: 50px;
}

.home-instamanager-phone {
  width: 180px;
  height: 65px;
  font-size: 22px;
  margin-right: 5px;
}

.home-instamanager-submit {
  margin-top: 10px;
  width: 557px;
  margin-left: -5px;
}

.home-instamanager-info {
  font-size: 18px;
  color: $instarter-font-grey;
}


.owl-pagination {
  padding-top: 40px;
}
