@charset "UTF-8";
@import 'variables';

.main {
  width: 90%;
}

.form-control {
  width: 100%;
  margin: 20px auto;
  font-size: 26px;
  padding: 25px;
  font-weight: 400;
}

.signup-header {
  background-image: url("/assets/images/header-user-create.png");
  height: 156px;
  width: 367px;
  font-weight: 80px;
}

.edit-header {
  background: url("/assets/images/header-user-edit.png") no-repeat center;
  height: 186px;
  font-size: 60px;
}

.signup-naver-logo {
  width: 57px;
  height: 57px;
  float: right;
  margin: 11px;
}

// 개인회원, 기업회원
.signup-user-type {
  color: $instarter-black;
  float: left;
  width: 50%;
  text-align: center;
  padding: 25px 0;
  font-size: 26px;
  margin-bottom: 30px;
  background-color: $instarter-background-grey;
}

.signup-user-type-selected {
  color: $instarter-white;
  background-color: $instarter-purple;
}

// 회원가입 약관동의, 개인정보수집 및 이용동의서
.signup-agreements {
  margin-bottom: 60px;
}

.signup-agreement {
  max-width: 432px;
  background-color: $instarter-background-grey;
  margin-bottom: 2px;
  padding: 20px;
  font-size: 18px;
}

.signup-agreement-checkbox {
  background-image: url("/assets/images/checkbox-no.png");
  float: left;
  height: 18px;
  margin: 5px 10px 0 0;
  width: 18px;
}

.signup-agreement-checkbox-checked {
  background-image: url("/assets/images/checkbox-yes.png");
  height: 22px;
  margin: 1px 5px 0 0;
  width: 23px;
}

.signup-agreement-link {
  color: $instarter-font-alert-grey;
  float: right;
  font-size: 15px;
  text-decoration: underline;
}

.modal-body {
  font-size: 15px;
  margin: 25px;
  font-weight: 400;
}

.modal-text {
  max-height: 420px;
  overflow-y: scroll;
  margin-bottom: 50px;
}

.btn-group {
  text-align: center;
}

.btn-cancel {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  background-color: $instarter-black;
  border: 2px solid $instarter-black;
  color: $instarter-white;
  font-size: 20px;
  height: 50px;
  width: 120px;
}


.signup-user-type {
  margin-bottom: 60px;
}

.sub-header {
  font-size: 30px;
  margin-bottom: 20px;
}

.form-profile {
  margin-bottom: 40px;
}

.form-profile-img {
  float: left;
}


.btn-group-profile {
  margin: 25px 0 0 20px;
  float: left;
}

.btn-add-profile {
  display: block;
  background: url("/assets/images/btn-add.png") no-repeat;
  font-size: 18px;
  height: 46px;
  line-height: 46px;
  vertical-align: middle;
  padding-left: 60px;
  color: $instarter-font-grey;
  margin-bottom: 20px;
}

.btn-remove-profile {
  color: $instarter-purple;
  font-size: 15px;
  text-decoration: underline;
}

.password-checked {
  position: absolute;
  margin: 28px 0 0 432px;
  width: 22px;
  height: 17px;
  background-image: url("/assets/images/password-checked.png")
}

.password-unchecked {
  position: absolute;
  margin: 28px 0 0 432px;
  width: 22px;
  height: 17px;
  background-image: url("/assets/images/password-unchecked.png")
}

.instagram-form {
  background-color: $instarter-yellow;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.instagram-form-profile {
  width: 50px;
  height: 50px;
  border: 2px solid $instarter-white;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}

.instagram-form-username {
  font-size: 26px;
  color: $instarter-white;
  display: inline-block;
  margin-top: 10px;
  font-weight: 300;
  vertical-align: top;
}

.instagram-form-control {
  float: right;
}

.instagram-form-edit {
  line-height: 55px;
  vertical-align: middle;
  color: $instarter-white;
  text-decoration: underline;
  margin-right: 20px;
}

.instagram-form-remove {
  display: inline-block;
  margin: 10px;
}

.instagram-form-add {
  color: $instarter-font-grey;
  display: block;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 80px;
  vertical-align: middle;
}

.hashtags {
  margin-bottom: 60px;
}

.comments {
  margin-bottom: 80px;
  display: block;
}

.comment {
  display: block;
}

.hashtag, .comment {
  float: left;
  font-size: 26px;
  background-color: #f1efff;
  color: $instarter-purple;
  padding: 10px 30px;
  margin: 0 10px 10px 0;
}

.hashtag-cancel, .comment-cancel {
  float: right;
  margin: 10px 0 0 20px;
}

.btn-group {
  margin-bottom: 100px;
}

.btn-password-edit {
  -webkit-appearance: none;
  font-size: 26px;
  background-color: $instarter-white;
  border: 2px solid $instarter-black;
  color: $instarter-black;
  display: inline-block;
  margin-right: 5px;
  padding: 30px 40px;
  font-weight: 500;
}

.btn-user-edit {
  -webkit-appearance: none;
  font-size: 26px;
  background-color: $instarter-black;
  border: none;
  color: $instarter-white;
  display: inline-block;
  padding: 30px 90px;
}

.sublink {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0;
}

.instagram-form-add-text {
  display: inline-block;
  margin-top: 10px;
}

.icon-clock {
  width: 25px;
  float: right;
  margin: 30px;
}
